header{
    max-width: 1200px;
    height: 450px;
    background-size: cover;
    margin: auto;
}
nav {
    text-align: center;
    margin: 0;
}
.title-box {
    text-align: center;
    color: #BFCB00;
    text-decoration: underline;
    max-width: 2220px;
    position: absolute;
    top: 325px;
    left: 30%;
}
nav a {
    font-weight: bold;
    font-size: 1em;
    border-left: 2px grey solid;
    border-right: 2px grey solid;
    margin: 0px 10px;
    padding: 10px 16px 0px 16px;
    height: 25px;
    background-color: #e0e0e0;
    display: inline-block;
}
.text-box {
    max-width: 500px;
    font-size: 1.5em;
}
article h3 {
    color: #91A700;
    font-size: 23px
}
#container {
    margin: 25px auto;
    padding: 15px auto;
    border-top: #91A700 solid 3px;
    border-bottom: #91A700 solid 3px;
}
#info-box {
    max-width: 500px;
    text-align: center;
    float: right;
    color: white;
    padding-bottom: 25px;
    border-bottom: #91A700 solid 3px;
}
#info-box .left {
    background-color: #91A700;
    padding-top: 6px;
    box-shadow: -5px 5px 8px black;
}
#info-box .right {
    background-color: #91A700;
    padding: 15px 0;
    margin: 0px;
    box-shadow: 5px 5px 8px black;
}
.right, .left {
    display: inline-block;
    max-width: 50%;
    min-width: 49%;
}
.knowledge {
    width: 800px;
    font-size: 20px;
}
.cookie-notice {
    z-index: 300000;
    max-width: 250px;
    text-align: center;
    padding: 13px; 
    background: #91A700;
    font-size: 15px;
    position: fixed;
    bottom: 40px;
    left: 80px;
}
#accept {
    border: 0px;
    width: 100px;
    color: #91A700;
}
body{
    margin: auto;
    background-color: white;
    max-width: 1200px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.images {
    margin: 0px;
    max-width: 50%;
    background-color: #91A700;
}
.pull-left {
    float: left;
    clear: right;
}
.pull-right{
    float: right;
}

.passions-container {
    margin-top: 15px;
    border-top: #91A700 solid 3px;
    padding-top: 10px;
    padding-bottom: 25px;
    border-bottom: #91A700 solid 3px;
}
footer {
    margin-top: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #91A700;
    clear: both;
}
.footer-link {
    margin: 13px;
}
a:link {
    color: #91A700;
    text-decoration: none;
}
a:visited {
    color: #91A700;
    text-decoration: none;
}
nav a:hover {
    color: #91A700;
    text-decoration: none;
    background-color: #babdbe;
    box-shadow: black 0px 4px 4px;
}
a:active {
    color: blue;
    text-decoration: none;
}
#privacy {
    color: black;
}